* {
    margin-left: 10px;
    margin-right: 10px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.title-is-1 {
    font-size: 50px;
    color: rgb(38, 73, 109);
}

.title-is-3 {
    font-size: 25px;
    color: rgb(27, 76, 212);
}

.section-primary {
    min-height: 80px;
    min-width: 600px;
    background-color: rgb(255, 255, 255);
    display: flex;
    /* justify-content: space-around; */
    flex-wrap: wrap;
}

.div-space {
    min-height: 80px;
    min-width: 450px;
    background-color: rgb(255, 255, 255);
    display: flex;
    /* justify-content: space-around; */
    flex-wrap: wrap;
    align-items: left;
}

.text-is-menu {
    font-size: 18px;
    color: rgb(106, 109, 117);
}

.parrafo {
    font-size: 20px;
    color: rgb(106, 109, 117)
}

.div-container {
    min-height: 80px;
    min-width: 70px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-wrap: wrap;
}

.button-is-navy {
    background-color: rgb(70, 98, 177);
    border: none;
    color: rgb(255, 255, 255);
    font-size: 18px;
    height: 50px;
    width: 150px;
}

.section-information {
    min-height: 80px;
    min-width: 600px;
    background-color: rgb(255, 255, 255);
    display: flex;
    /* justify-content: space-around; */
    flex-wrap: wrap;
}

.flex-container {
    display: flex;
    background-color: rgb(255, 255, 255);
}

.flex-container>div {
    background-color: #ffffff;
    margin: 10px;
    padding: 20px;
    font-size: 40px;
}

.table-border{
    width: 90%;
    border-collapse: collapse;
    font-size: 18px;
}
