* {
    margin-left: 10px;
    margin-right: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.title-is-one {
    font-size: 35px;
    text-align: left;
}

.subtitle {
    font-size: 30px;
    text-align: left;
}

.label {
    font-size: 20px;
    text-align: left;
}

.button-primary {
    background-color: rgba(16, 224, 207, 0.856);
    color: rgb(255, 255, 255);
    border-color: rgba(0, 255, 255, 0.856);
    font-size: 17px;
    border-radius: 15px;

}

.button-floating{
    background-color:rgba(16, 224, 207, 0.856);
    color: white;
    border-color: rgba(0, 255, 255, 0.856);
    font-size: 20px;
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}