* {
    font-family: "Helvetica Neue", Helvetica ;
}

.container{
    background-color: rgb(194, 71, 71);
    height: 400px;;
}

.container-div{
    background-color: rgb(44, 218, 218);
    width: 200px;
    height: 200px;
}

.text{
    font-size:15px;

}

@media (max-width:600px) {
    .container{
        background-color:rgb(31, 22, 116);
    }
    .container-div{
        background-color: rgb(155, 218, 218);
        height: 250;
        align-items: center;
    }
}

@media (max-width:900px) and (min-width:601px) {
    .container{
        background-color:rgb(43, 77, 74);
    }
    .text{
        font-size: 25px;
        font-weight: bold;
    }
}